In [19]:
import numpy as np
import pandas as pd

In [26]:
titles = pd.read_csv('titles.csv')

In [21]:
titles

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [27]:
titles = titles[titles['type']=='Movie']

In [36]:
titles = titles.reset_index()
titles

,level_0,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,1,1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,2,4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
3,3,6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
4,4,7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4260,4260,5577,80085438,Movie,Frank and Cindy,G.J. Echternkamp,NaN,United States,"April 1, 2016",2007,TV-MA,70 min,Documentaries,Frank was a rising pop star when he married Ci...
4261,4261,5578,80085439,Movie,Frank and Cindy,G.J. Echternkamp,"Rene Russo, Oliver Platt, Johnny Simmons, Jane...",United States,"April 1, 2016",2015,R,102 min,"Comedies, Dramas, Independent Movies",A student filmmaker vengefully turns his camer...
4262,4262,5579,80011846,Movie,Iverson,Zatella Beatty,Allen Iverson,United States,"April 1, 2016",2014,NR,88 min,"Documentaries, Sports Movies",This unfiltered documentary follows the rocky ...
4263,4263,5580,80064521,Movie,Jeremy Scott: The People's Designer,Vlad Yudin,Jeremy Scott,United States,"April 1, 2016",2015,PG-13,109 min,Documentaries,The journey of fashion designer Jeremy Scott f...
4264,4264,6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...

In [41]:
def cast_split(names):
    if ',' in names:
        return names.split(",")

titles['people'] = titles['cast'].apply(cast_split)
titles

TypeError: argument of type 'float' is not iterable

In [47]:
titles.nunique()

level_0         4265
index           4265
show_id         4265
type               1
title           4241
director        3198
cast            3763
country          482
date_added      1045
release_year      70
rating            14
duration         186
listed_in        249
description     4257
dtype: int64

In [59]:
titles['cast'].value_counts().head(10)

Samuel West                                            10
Jeff Dunham                                             7
Craig Sechler                                           6
Iliza Shlesinger                                        5
Jim Gaffigan                                            5
Bill Burr                                               5
Damandeep Singh Baggan, Smita Malhotra, Baba Sehgal     4
Jay O. Sanders                                          4
David Attenborough                                      4
Bill Hicks                                              4
Name: cast, dtype: int64

In [99]:
titles2 = pd.read_csv('titles.csv')

In [100]:
titles2

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [101]:
titles2 = titles2.drop(['show_id','title','director','rating', 'duration','description'],axis = 1)
titles2

,type,cast,country,date_added,release_year,listed_in
0,Movie,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,"Children & Family Movies, Comedies"
1,Movie,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,Stand-Up Comedy
2,TV Show,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,Kids' TV
3,TV Show,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,Kids' TV
4,Movie,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,Comedies
...,...,...,...,...,...,...
6229,TV Show,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,TV Show,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV Comedies
6231,Movie,NaN,NaN,NaN,2016,Movies
6232,TV Show,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,"British TV Shows, TV Comedies, TV Dramas"
6233,TV Show,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,"Classic & Cult TV, TV Comedies"

In [102]:
titles2 = titles2.dropna(axis = 0, thresh = 4)
titles2 = titles2[titles2['listed_in']!= 'Documentaries']
titles2 = titles2[titles2['listed_in']!= 'Stand-Up Comedy']
titles2 = titles2[titles2['listed_in']!= 'Dramas, International Movies']
titles2 = titles2[titles2['listed_in']!= 'Dramas, Independent Movies, International Movies']
titles2 = titles2[titles2['listed_in']!= 'Comedies, Dramas, International Movies']
titles2 = titles2[titles2['listed_in']!= 'Kids\' TV']
titles2 = titles2[titles2['listed_in']!= 'Documentaries, International Movies']
titles2 = titles2[titles2['release_year']>= 2010]
titles2 = titles2[titles2['type']!= 'TV Show']

In [103]:
titles2 = titles2[titles2['country']=='United States']
titles2

,type,cast,country,date_added,release_year,listed_in
4,Movie,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,Comedies
20,Movie,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",United States,"September 8, 2017",2014,"Comedies, Independent Movies, Romantic Movies"
23,Movie,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...",United States,"September 8, 2017",2014,"Horror Movies, Thrillers"
24,Movie,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...",United States,"September 8, 2017",2015,"Dramas, Independent Movies"
25,Movie,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...",United States,"September 8, 2015",2015,"Dramas, Independent Movies, Romantic Movies"
...,...,...,...,...,...,...
5530,Movie,"Kelly McCart, Katrina Grey, Jared Cohn, Ingkar...",United States,"April 1, 2018",2017,"Action & Adventure, Dramas, Independent Movies"
5555,Movie,"Larenz Tate, Meagan Good, Lance Gross, Antoniq...",United States,"April 1, 2017",2016,Dramas
5559,Movie,"David Oyelowo, Dianne Wiest, Rosie Perez, Teyo...",United States,"April 1, 2017",2015,"Dramas, Independent Movies"
5578,Movie,"Rene Russo, Oliver Platt, Johnny Simmons, Jane...",United States,"April 1, 2016",2015,"Comedies, Dramas, Independent Movies"
5579,Movie,Allen Iverson,United States,"April 1, 2016",2014,"Documentaries, Sports Movies"

In [104]:
titles2['listed_in'].value_counts()

Children & Family Movies                                            46
Dramas, Independent Movies                                          44
Comedies, Dramas, Independent Movies                                40
Comedies                                                            40
Dramas                                                              37
                                                                    ..
Action & Adventure, Romantic Movies, Sci-Fi & Fantasy                1
Children & Family Movies, Comedies, Sports Movies                    1
Action & Adventure, Sci-Fi & Fantasy, Thrillers                      1
Dramas, Faith & Spirituality, Independent Movies                     1
Action & Adventure, Children & Family Movies, Independent Movies     1
Name: listed_in, Length: 110, dtype: int64

In [105]:
titles2 = titles2.drop(['type','country'],axis = 1)

In [106]:
titles2.reset_index()

,index,cast,date_added,release_year,listed_in
0,4,"Nesta Cooper, Kate Walsh, John Michael Higgins...","September 8, 2017",2017,Comedies
1,20,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...","September 8, 2017",2014,"Comedies, Independent Movies, Romantic Movies"
2,23,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...","September 8, 2017",2014,"Horror Movies, Thrillers"
3,24,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...","September 8, 2017",2015,"Dramas, Independent Movies"
4,25,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...","September 8, 2015",2015,"Dramas, Independent Movies, Romantic Movies"
...,...,...,...,...,...
769,5530,"Kelly McCart, Katrina Grey, Jared Cohn, Ingkar...","April 1, 2018",2017,"Action & Adventure, Dramas, Independent Movies"
770,5555,"Larenz Tate, Meagan Good, Lance Gross, Antoniq...","April 1, 2017",2016,Dramas
771,5559,"David Oyelowo, Dianne Wiest, Rosie Perez, Teyo...","April 1, 2017",2015,"Dramas, Independent Movies"
772,5578,"Rene Russo, Oliver Platt, Johnny Simmons, Jane...","April 1, 2016",2015,"Comedies, Dramas, Independent Movies"
773,5579,Allen Iverson,"April 1, 2016",2014,"Documentaries, Sports Movies"

In [107]:
titles2['cast'].value_counts()

Louis C.K.                                                                                                                                                      3
Alden Ehrenreich, Woody Harrelson, Emilia Clarke, Donald Glover, Joonas Suotamo, Thandie Newton, Phoebe Waller-Bridge, Paul Bettany                             2
Maika Monroe, Ed Skrein, Gary Oldman                                                                                                                            1
Jacob Buster, Anson Bagley, Grace Hallows, Josh Reid, Cooper Daniel Johnson, Alison Akin Clark, Brian Neal Clark, Evan Clark, Caitlin E.J. Meyer, Gabe White    1
Lily Rabe, Timothée Chalamet, Lili Reinhart, Anthony Quintal, Oscar Nuñez, Rob Huebel                                                                           1
                                                                                                                                                               ..
Neville Archambault, Amber Midthunder, Brytnee Ratledge, Hank Rogerson, Chelsea Edmundson, John-Paul Howard, Lora Martinez-Cunningham, Brianne Moncrief         1
Matthew Espinosa, Sarah Jeffery, Allison Paige, Tava Smiley, Caitlin Keats, LaMonica Garrett, Mahaley Patel, Mason McCulley, Liana Ramirez                      1
Jay Duplass, Linas Phillips, Leonora Pitts, Adam Chernick, Davie-Blue, Suzanne Ford, Tobin Bell                                                                 1
Brie Larson, Samuel L. Jackson, Joan Cusack, Bradley Whitford, Mamoudou Athie, Hamish Linklater, Martha MacIsaac, Karan Soni, Annaleigh Ashford                 1
Tony Schiena, Armand Assante, Kippei Shiina, Sho Ikushima, Vienna Hehir, Tetsu Watanabe, Grand Master John U. Kim, Dawn Olivieri                                1
Name: cast, Length: 738, dtype: int64